<div class="overflow-x-auto">
  <table class="min-w-full divide-y divide-gray-200">
    <thead class="bg-gray-50">
      <tr>
        <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
          Name
        </th>
        <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
          Category
        </th>
        <th scope="col" class="relative px-6 py-3">
          <span class="sr-only">Delete</span>
        </th>
      </tr>
    </thead>
    <tbody class="bg-white divide-y divide-gray-200">
      <% products.each do |product| %>
        <tr>
          <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
            <%= product.name %>
          </td>
          <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
            <%= product.category.capitalize %>
          </td>
          <td class="px-6 py-4 whitespace-nowrap text-right text-sm font-medium">
            <%= button_to "Delete", product, method: :delete, data: { confirm: "Are you sure you want to delete this product?" }, class: "btn btn-link" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
